body {
  height: 100%;
  width: 100%;
  background: url(https://hbr.org/resources/images/article_assets/2004/10/SEPT15_03_535621603.jpg) no-repeat center center fixed;
  background-size: cover;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
  margin: auto;
}

.red {
  color: #FF1600;
  background-color: #000;
  width: 15%;
  text-align: center;
}

.blue {
  color: #0059FF;
  background-color: #000;
  width: 15%;
  text-align: center;
}

#missileCount {
  text-align: center;
  font-size: 30px;
  color: #FF1600;
  font-weight: bolder;
  background-color: #000;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.rowOne {
  display: flex;
  border:#000 1px solid;
  width: 60%;
  height: 75px;
  margin-right: auto;
  margin-left: auto;
  font-size: 60px;
  color: #000;
  font-weight: bolder;
  text-align: center;
}

#row {
  display: flex;
  border:#000 1px solid;
  width: 60%;
  height: 75px;
  margin-right: auto;
  margin-left: auto;
}

#columnOne {
  font-size: 60px;
  color: #000;
  font-weight: bolder;
  text-align: center;
}

.location {
  border:#000 1px solid;
  width: 20%;
  height: 75px;
}

.shipLocation {
  border:#000 1px solid;
  width: 20%;
  height: 75px;
  text-align: center;
  font-size: 40px;
}

.hit {
  background-color: #FF1600;
}

.miss {
  background-color: #0059FF;
}

.buttonContainer {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.replayButton {
  display: none;
  margin-left: auto;
  margin-right: auto;
  font-weight: bolder;
  font-size: 60px;
  color: #BDFFFA;
  background: #000;
}


